html {
	background-color: #e2dba3;
}
body {
	font: 15px/1.4 Arial, sans-serif;
	color: #111;
	text-shadow: 0 1px 0 #fafafa;
}
article {
	width: 640px;
	margin: 0 auto;
	text-align: center;
}
hgroup {
	margin-bottom: 27px;
	padding-top: 100px;
}
h1 {
	font-size: 44px;
	font-weight: bold;
}
h2 {
	font-size: 18px;
	font-weight: bold;	
}

.show-confirm #confirm,
.show-launch #launch {
	display: block;
}

section {
	display: none;
	margin-top: 20px;
}
	#code-input {
		width: 100px;
		margin-top: 20px;
		padding: 6px 5px;
		font-size: 19px;
		font-weight: bold;
		text-align: center;
		border-radius: 13px;
		border: 1px solid #ccc;
		outline: 0 none;
	}
	.player-container {
		margin: 10px 0 20px;
	}
		button {
			margin: 0;
			padding: 0;
			font-size: 69px;
			line-height: 1em;
			color: #111;
			text-shadow: 0 1px 0 #fafafa;
			cursor: pointer;
			background: none;
			border: 0 none;
			outline: 0 none;
		}
		button.playing {
			color: #ccc;
		}
	input[type="range"] {
		margin-bottom: 16px;
		-webkit-appearance: none !important;
		background: #111;
		height: 3px;
		box-shadow: 0 1px 0 #fafafa;
		cursor: pointer;
		outline: 0 none;
	}
		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: button !important;
			width: 7px;
			height: 16px;
			background-color: #111;
		}